body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #96b2af;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-form-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  height: 80%;
  width: 90vw;
}
.user-container {
  border-radius: 10%;
}
.user-details {
  width: 40%;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  display: flex;
  background-color: #28a745;
  color: #ffffff;
  margin-left: 30%;
  align-items: flex-end;
}

.delete-btn {
  background-color: #dc3545;
  color: #ffffff;
}
